[submodule "backend"]
	path = backend
	url = https://github.com/alexanderzhirnov/CalculatorBackend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/alexanderzhirnov/CalculatorFrontend.git
